<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ieatta.android">

    <application
        android:name=".IEAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/IEATTAAppTheme">
        <activity android:name=".debug.MainActivity">

        </activity>
        <activity android:name=".debug.EffectActivity">


        </activity>
        <activity
            android:name=".modules.view.IEANearRestaurantViewController"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".modules.view.IEARestaurantDetailViewController"
            android:screenOrientation="portrait">



        </activity>
        <activity
            android:name=".modules.view.IEAEventDetailViewController"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.view.IEAOrderedRecipesViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.IEARecipeDetailViewController"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".modules.view.IEAChoicePeopleViewController"
            android:screenOrientation="portrait"></activity>
        <!-- The following is for editing models. -->

        <activity
            android:name=".modules.view.edit.IEAEditRecipeViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.edit.IEAEditEventViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.edit.IEAEditRestaurantViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.edit.IEAEditPeopleViewController"
            android:screenOrientation="portrait"></activity>

        <!--The following is for searching models.-->
        <activity
            android:name=".modules.view.search.IEAManagerPeopleViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.search.IEAReadReviewsViewController"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".modules.view.search.IEASearchRestaurantViewController"
            android:screenOrientation="portrait"></activity>



    </application>

</manifest>
